@charset "utf-8";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    transform: translateX(calc((100% - 100vw) / 2));
}

#myAudio {
    position: absolute;
    top: 0;
    left: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#ido-tarolo {
    width: 100%;
    height: fit-content;
    max-width: 1000px;
}
#kikapcsolas:hover{
    cursor: pointer;
}
#kikapcsolo-tarolo{
    position: absolute;
    bottom: 20%;
}
#ido-kijelzo {
    width: 100%;
    height: fit-content;
    font-size: 200%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#ido-kijelzo>* {
    width: 200px;
    height: 100px;
    text-align: center;
}

.pulzalas {
    animation: pulzal 0.9s;
}

@keyframes pulzal {
    0% {
        font-size: 200%;
    }
    50% {
        font-size: 250%;
    }
}

@media screen and (max-width:450px) {
    #ido-kijelzo {
        flex-direction: column;
    }
}